<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <div class="masonry-gutter"></div>
            <% @post_images.each do |post_image| %>
            <!-- コントローラから渡されたpost_images変数内から1つずつ取り出して、post_image変数へ格納 -->
            <div class="masonry-block">
              <div class="block block-image v1">
                <div class="block-image">
                  <div class="view view-first">
                     <%= attachment_image_tag post_image, :image %>
            <!-- attachment_image_tagは、refile側(画像投稿用gem)が用意したヘルパーで、
              <img>タグを作成してくれます。 -->
            <!-- post_image変数のimage_idに保存された画像の<img>タグを生成します。 -->
                  </div>
                </div>
                <div class="block-content">
                  <%= image_tag('sample-author1.jpg', class: "img-circle pull-left profile-thumb") %>
                  <h3 class="block-title">
                  <%= link_to post_image_path(post_image.id) do %>
                     <i class="fa fa-map-marker"></i><%= post_image.shop_name %>
                     <!-- post_image変数のshop_nameカラムを表示。
                      このカラムは、post_imageモデルに定義されています。 -->
                  <% end %>
                  </h3>
                  <p><%= post_image.caption %></p>
                  <ul class="inline-meta">
                    <li>By
                      <%= post_image.user.name %>
               <!-- post_image変数のuser_idに関連付けられているuserモデルのnameカラムを表示-->
                    </li>
                    <li>
                    <%= link_to "#{post_image.post_comments.count}コメント",post_image_path(post_image.id) %>
                    <!-- コメント件数の表示 -->
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<% @post_images.each do |post_image| %>

<% end %>
<%= paginate @post_images %>